#body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 8%);
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;

}

#display {
  width: 100%;
  padding: 50px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(30, 1%, 36%);
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  padding: 20px;
  border-radius: 50%;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: rgb(226, 18, 164);
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  margin: 0;
  box-sizing: border-box;


}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 40%);
}

.operator-btn {
  background-color: hsl(32, 98%, 52%);
}

.operator-btn:hover {
  background-color: hsl(32, 98%, 65%);
}

.operator-btn:active {
  background-color: hsl(32, 98%, 75%);
}